@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    height: 15vh;
    font-family: "Oswald";
    justify-content: space-around;
    align-items: center;
    h2 {
        font-size: 2.5em;
        font-weight: 700;
    }
    section {
        display: flex;
        width: 50vw;
        justify-content: space-around;
        align-items: center;
        ul {
            display: flex;
            width: 30vw;
            justify-content: space-around;
            font-size: 1.25em;
            list-style: none;
            a {
                text-decoration: none;
                color: #5B5B5B;
                font-weight: 500;
            }
        }

        button {
            height: 9vh;
            width: 8vw;
            font-family: "Oswald";
            font-size: 1.5em;
            border: solid black;
            background-color: white;
            font-weight: 500;
        }
    }
}

main {
    .mainTitulo{
        height: 80vh;
        font-family: "Oswald";
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 10%;
        background-image: url("./images/background.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        h1 {
            font-size: 6em;
            color: white;
            font-weight: 700;
        }
        p {
            font-size: 2em;
            color: white;
            font-weight: 300;
            padding-bottom: 2vh;
        }
        button {
            font-family: "Oswald";
            font-size: 1.5em;
            width: 13vw;
            background-color: #0016DF;
            border: none;
            height: 6vh;
            font-weight: 700;
            color: white;
        }
    }

    .mainProposta {
        display: flex;
        height: 140vh;
        justify-content: space-around;

        article {
            width: 40vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        h3{
            font-family: "Oswald";
            font-size: 1.5em;
            padding-bottom: 3vh;
            font-weight: 500;
            color: #0017E9;
        }

        h2{
            font-family: "Roboto";
            font-size: 2.25em;
            padding-bottom: 3vh;
            font-weight: 800;
        }

        p{
            font-family: "Roboto";
            font-size: 1.5em;
            padding-bottom: 3vh;
            font-weight: 400;
        }

        a{
            font-family: "Roboto";
            font-size: 1.5em;
            color: #0017E9;
            text-decoration: none;
            font-weight: 400;
        }
    }

    .mainSolucoes{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 120vh;
        justify-content: center;
        background-color: #D8D8D8;


        .mainSolucoesTitulos{
            height: 30vh;
            width: 30vw;
            text-align: center;
            text-transform: uppercase;
            font-family: "Oswald";
            font-weight: 500;
            font-size: 1.5em;
            h2{
                padding-bottom: 8%;
                color: #0017E9;
            }
        }

        .mainSolucoesArticle {
            width: 95vw;
            display: flex;
            justify-content: space-around;
            font-family: "Oswald";
            height: 62vh;
            font-size: 1.5em;
            article{
                width: 25vw;
                height: 65vh;
                box-shadow: 0px 0px 10px black;
                background-color: white;
                img {
                    width: 100%;
                }
    
                div{
                    width: 100%;
                    h3{
                        padding: 6%;
                    }
                    p{
                        padding-left: 6%;
                        padding-right: 6%;
                    }
                }
            }
        }        
    }

    .mainContato{
        display: flex;
        justify-content: space-around;
        height: 120vh;


        .mainContatoUnidades{
            width: 45vw;
            padding-top: 3%;
            h2{
                padding-bottom: 3%;
                font-family: "Oswald";
                font-size: 2em;
                text-transform: uppercase;
                font-weight: 500;
                color: #0017E9;
            }
            p{
                padding-bottom: 3%;
                font-family: "Oswald";
                font-size: 1.5em;
                text-transform: uppercase;
                font-weight: 500;
                
            }
            div{
                display: flex;
                
                figure{
                    height: 30vh;
                    width: 20vw;
                    font-family: "Oswald";
                    font-size: 1.25em;
                    font-weight: 500;
                    text-transform: uppercase;
                    img{
                        width: 18vw;
                    }
                }
            }
        }

        .mainFormularioContato{
            width: 45vw;
            padding-top: 3%;
            form{
                display: flex;
                flex-direction: column;
            }
            h2{
                padding-bottom: 3%;
                font-family: "Oswald";
                font-size: 2em;
                text-transform: uppercase;
                color: #0017E9;
            }
            p{
                padding-bottom: 3%;
                font-family: "Oswald";
                font-size: 1.5em;
                text-transform: uppercase;
            }

            form{
                display: flex;
                flex-direction: column;
                width: 45vw;
                font-family: "Oswald";
                font-size: 1.25em;
                font-weight: 300;
                text-transform: uppercase;

                input{
                    border: 1px solid black;
                    width: 26vw;
                    height: 5vh;
                    margin-bottom: 4%;
                    font-size: 1em;
                    font-weight: 300;
                    font-family: "Oswald";
                    padding: 2%;
                }
                textarea{
                    border: 1px solid black;
                    width: 26vw;
                    resize: none;
                    height: 20vh;
                    margin-bottom: 6%;
                    font-size: 1em;
                    font-weight: 300;
                    font-family: "Oswald";
                    padding: 2%;
                }

                button{
                    width: 28vw;
                    height: 8vh;
                    border: none;
                    font-size: 1.5em;
                    font-family: "Oswald";
                    text-transform: uppercase;
                    background-color: #0017E9;
                    color: white;

                }
            }
        }

    }

}

footer {
    height: 10vh;
    background-color: #D8D8D8;
    font-family: "Oswald";
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875em;
    color: #001C43;
}

@media(min-width:201px) and (max-width: 900px){
    header{
        height: 15vh;
        width: 100%;
        h2{
            display:none;
        }
        section {
            width: 100%;
            nav{
                width: 100%;
                ul{
                    width: 100%;
                    display: flex;
                    justify-content: space-around;
                    li {
                        a{
                            font-size: 1em;
                        }
                    }
                }
            }
            button{
                display: none;
            }
        }
    }

    main {
        .mainTitulo{
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 40vh;
            background-size: cover;
            h1{
                font-size: 2.25em;
            }
            p{
                font-size: 1em;
            }
            button{
                font-size: 1em;
                width: 40vw;
            }
        }
        
        .mainProposta{
            display: flex;
            flex-direction: column;
            height: 160vh;
            width: 100%;
            align-items: center;
            justify-content: space-evenly;
            article{
                width: 85%;
                display: flex;
                flex-direction: column;
                h3{
                   font-size: 1em; 
                }
                h2{
                    font-size: 1.5em;
                }
                p{
                    font-size: 0.875em;
                }
                a{
                    font-size: 1.25em;
                }
            }
        }

        .mainSolucoes{
            display: flex;
            flex-direction: column;
            height: 280vh;
            justify-content: space-evenly;
            .mainSolucoesTitulos{
                width: 100vw;
                h2{
                    font-size: 1.25em;
                }
                h3{
                    font-size: 1.25em;
                }
            }
            .mainSolucoesArticle{
                display: flex;
                flex-direction: column;
                height:220vh;
                align-items: center;
                article{
                    height: 68vh;
                    width: 75%;
                    border: solid red;

                    div{
                        h3{
                            font-size: 0.875em;
                        }
                        p{
                            font-size: 0.813em;
                        }
                    }
                }
            }
        }

        .mainContato{
            width: 100vw;
            height: 300vh;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            .mainContatoUnidades{
                width: 100vw;
                display: flex;
                flex-direction: column;
                height: 170vh;
                justify-content: space-evenly;
                h2{
                    font-size: 1.25em;
                }
                p{
                    font-size: 0.938em;
                }
                div{
                    display: flex;
                    flex-direction: column;
                    height: 70vh;
                    align-items: center;
                    figure {
                        width: 70%;
                        height: 35vh;
                        text-align: start;
                        img{
                            width: 100%;
                        }
                        figcaption{
                            font-size: 0.688em;
                        }
                    }
                }
            }

            .mainFormularioContato{
                width: 100vw;
                height: 130vh;
                h2{
                    font-size: 1.25em;
                }
                p{
                    font-size: 0.938em;
                }
                form{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    height: 100vh;
                    justify-content: space-evenly;
                    font-size: 0.813em;
                    label{
                        width: 84%;
                        display: flex;
                        flex-direction: column;
                        align-items: start;

                    }
                    input{
                        width: 80%;
                    }
                    textarea{
                        width: 80%;
                    }
                    button{
                        width: 84%;
                        height: 10vh;
                        font-size: 0.813em;
                    }
                }
            }
        }
    }

    footer{
        font-size: 0.688em;
    }
}



@media (max-height: 818px) {
    main {
        .mainSolucoes{
            .mainSolucoesFigure{
                figure {
                    height: 90vh;
                }
            }
        }
    }
}